---
import PostLink from '../components/PostLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
);
---

<BaseLayout pageTitle="Learning Blog">
  <h2>Stuff I have learned along the way</h2>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <PostLink url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
