---
const platform = 'GitHub';
const username = 'withastro';
---

<footer>
  <p>
    Learn more about my projects on my <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
